/* Footer.css */
.footer {
    position: relative;
    background-color: var(--fillInput);
    color: var(--darkFontColor);
    padding: 50px 0px 20px 50px;
    width: 100%;
  }
  
  .footer-container {
    text-align: center;
    margin: 0px auto;
    width: 88%;

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--whiteColorTransparent);
        padding: 10px 0px;
        font-size: 13px;
        color: var(--darkFontColor);

        p{
            font-size: 13px;  
        }

        a{
            text-decoration:none;
            color: var(--darkFontColor);
        }

    }
  }

  .footer-links:first-child {
    text-align: left;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-between;
  }
  
  .footer-link-group {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 250px;

    p{
        font-size: 12px;
    }
  }
  
  .footer-link-group h3 {
    color: var(--darkFontColor);
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-link-group ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-link-group ul li {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
  }
  
  .footer-link-group ul li a {
    color: var(--darkFontColor);
    opacity: 0.8;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link-group ul li a:hover {
    color: var(--primaryColor);
  }
  

  @media (max-width : 750px){
    .footer{
      margin-top: 500px;
    }
  }